li {
  list-style-type: none;
}

.movie__card {
  width: 270px;
}

.movie__card_image {
  width: 270px;
  height: 151px;
}

.movie__card_info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #000;
  border-color: #e8e8e8;
  font-size: 13px;
  font-weight: 500;
  padding-top: 8px;
  padding-bottom: 25px;
}

.movie__card_like {
  width: 24px;
  height: 24px;
  background-image: url(../../../public/like.svg);
}

.movie__card_time {
  display: block;
  color: #a0a0a0;
  font-size: 11px;
  padding-top: 7px;
  padding-bottom: 18px;
}
