.portfolio {
  padding: 25px 50px 75px 70px;
  background-color: #ffffff;
}

.portfolio__title {
  color: #a0a0a0;
  font-size: 18px;
  line-height: 20px;
  margin-bottom: 50px;
}

.portfolio__row {
  display: flex;
  justify-content: space-between;
  margin-bottom: 30px;
  align-items: center;
  padding-bottom: 10px;
}

.portfolio__row:hover {
  background-color: #e8e8e8;
  border-radius: 5px 5px 0 0;
  cursor: pointer;
}

.portfolio__row_bottom-border {
  border-bottom: 1px solid #000;
}

.portfolio__row_text {
  font-size: 30px;
  line-height: 50px;
  letter-spacing: -0.04em;
}

.portfolio__row_arrow {
  background-image: url(../../../public/arrow.png);
  width: 29px;
  height: 18px;
  background-repeat: no-repeat;
  /* margin-top: 15px; */
}
