.app {
  font-family: Inter, Arial, sans-serif, "Times New Roman", Times, serif;
  box-sizing: border-box;
  width: 100%;
  min-width: 320px;
  max-width: 1280px;
  min-height: 100vh;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
}

@media (max-width: 1279px) {
  /* .app {
    max-width: 1280px;
  } */

}

@media (max-width: 767px) {
  /* .app {
    max-width: 768px;
  } */
}
