.app {
  font-family: Inter, Arial, sans-serif, "Times New Roman", Times, serif;
  box-sizing: border-box;
  width: 100%;
  min-width: 320px;
  min-height: 100vh;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
}