.navigation {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 74px;
  padding-left: 60px;
  padding-right: 60px;
  background-color: #073042;
}

.navigation__wrapper {
  margin: 0 auto;
  width: 100%;
}

.navigation__logo {
  background-image: url(../../../public/logo.svg);
  width: 38px;
  height: 38px;
}

.navigation__buttons {
  margin-right: -7px;
}

.navigation__sigh-up {
  color: #fff;
  text-decoration: none;
  margin-right: 30px;
  font-size: 12px;
  font-weight: 500;
}

.navigation__sigh-in {
  color: #000;
  background-color: #2be080;
  font-size: 12px;
  border: none;
  border-radius: 3px;
  height: 32px;
  width: 76px;
  font-weight: 500;
  cursor: pointer;
}

@media (max-width: 1279px) {
  .navigation {
    padding-left: 30px;
    padding-right: 37px;
  }

  .navigation__wrapper {
    width: 768px;
  }

  .navigation__logo {
    background-image: url(../../../public/logo768.svg);
  }
}

@media (max-width: 767px) {
  .navigation {
    padding-left: 15px;
    padding-right: 21px;
  }

  .navigation__wrapper {
    width: 320px;
  }

  .navigation__sigh-up {
    font-size: 10px;
    margin-right: 14px;
  }

  .navigation__sigh-in {
    font-size: 10px;
    height: 26px;
    width: 54px;
  }
}
