.register {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 30px;
  padding-left: 16px;
}

.register__wrapper {
  width: 396px;
  padding: 40px 0 50px;
}

.register__logo {
  background-image: url(../../../public/images/logo-smile.svg);
  width: 38px;
  height: 38px;
}

.register__header {
  font-size: 24px;
  font-weight: 500;
  margin: 40px 0 42px;
}

.register__form {
  display: flex;
  flex-direction: column;
}

.register__span {
  font-size: 10px;
  color: #a0a0a0;
}

.register__input {
  height: 46px;
  border-radius: 8px;
  font-size: 13px;
  border: none;
  background-color: #f9f9f9;
  margin: 9px 0 20px;
  padding-left: 15px;
}

.register__input:focus {
  outline: none;
  border: none;
}

.register__button {
  background-color: #3456f3;
  height: 45px;
  color: #fff;
  border-radius: 3px;
  border: none;
  margin: 69px 0 17px;
  font-size: 14px;
  cursor: pointer;
}

.register__subtitle {
  font-size: 14px;
  color: #a0a0a0;
  display: flex;
  justify-content: center;
  gap: 7px;
}

.register__link {
  color: #3456f3;
  text-decoration: none;
  font-size: 14px;
}

@media (max-width: 1279px) {
  .register__wrapper {
    padding: 202px 15px 50px 0px;
  }
}

@media (max-width: 767px) {
  .register__wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 26px;
    width: 260px;
  }

  .register__header {
    margin-top: 51px;
  }

  .register__form {
    padding: 39px 0px 0 0px;
    width: 260px;
  }

  .register__button {
    margin: 157px 0px 15px 0px;
    font-size: 12px;
    font-weight: 500;
  }

  .register__subtitle {
    font-size: 12px;
  }

  .register__link {
    font-size: 12px;
  }
}
