.login {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 30px;
  padding-left: 15px;
}

.login__wrapper {
  width: 396px;
  padding: 40px 0 50px;
  margin: 0 auto;
}

.login__logo {
  display: inline-block;
}

.login__header {
  font-size: 24px;
  font-weight: 500;
  margin: 37px 0 42px;
}

.login__form {
  display: flex;
  flex-direction: column;
  width: 396px;
}

.login__span {
  font-size: 10px;
  color: #a0a0a0;
}

.login__input {
  padding: 0;
  padding-bottom: 5px;
  margin-bottom: 25px;
  height: 26px;
  font-size: 14px;
  border: none;
  border-bottom: 1px solid #e8e8e8;
}

.login__input:focus {
  border: none;
}

.login__button {
  background-color: #ff6838;
  height: 45px;
  color: #fff;
  border-radius: 3px;
  border: none;
  margin: 197px 0 15px;
  font-size: 14px;
  width: 100%;
  cursor: pointer;
}

.login__subtitle {
  font-size: 14px;
  color: #a0a0a0;
  display: flex;
  justify-content: center;
  gap: 7px;
}

.login__link {
  color: #ff6838;
  text-decoration: none;
  font-size: 14px;
}

@media (max-width: 1279px) {
  .login__wrapper {
    padding: 202px 15px 50px 0px;
  }
}

@media (max-width: 767px) {
  .login__wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 26px;
    width: 260px;
  }

  .login__header {
    margin-top: 51px;
  }

  .login__form {
    padding: 39px 0px 0 0px;
    width: 260px;
  }

  .login__button {
    margin: 286px 0px 15px 0px;
    font-size: 12px;
    font-weight: 500;
  }

  .login__subtitle {
    font-size: 12px;
  }

  .login__link {
    font-size: 12px;
  }
}
