.navTab {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 66px;
  background-color: #000;
  gap: 40px;
}

.navTab__link {
  text-decoration: none;
  color: #fff;
  font-size: 13px;
  border-bottom: 1px solid;
}
